<section class="profile-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="center-pill text-center">
              <h3 style="color: #337ab7;">Update ProfileSet</h3>
            </div>
            <div class="wrapper">
              <form [formGroup]="profileSetEditForm" (ngSubmit)="onSubmit(profileSetEditForm)">
                <div class="row">
                  <div class="col-4">
                    <div class="form-group">
                      <label for="createdBy">CreatedBy</label>
                      <input formControlName="createdBy" name="createdBy" [ngModel]="profileset.createdBy"
                        id="createdBy" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="creationDate">CreationDate</label>
                      <input formControlName="creationDate" name="creationDate"
                        [ngModel]="profileset.creationDate | date :'yyyy-MM-dd'" id="creationDate" type="text"
                        class="form-control" readonly>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="description">Description</label>
                      <input formControlName="description" name="description" [ngModel]="profileset.description"
                        id="description" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="lastUpdateBy">LastUpdateBy</label>
                      <input formControlName="lastUpdateBy" name="lastUpdateBy" [ngModel]="profileset.lastUpdateBy"
                        id="lastUpdateBy" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input formControlName="name" name="name" [ngModel]="profileset.name" id="name" type="text"
                        class="form-control">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label for="updateState">UpdateState</label>
                      <select formControlName="updateState" name="updateState" id="updateState" class="form-select"
                        [(ngModel)]="profileset.updateState">
                        <option value="PUSHED_TO_CONFIG">PUSHED_TO_CONFIG</option>
                        <option value="WAITING_FOR_PUSH">WAITING_FOR_PUSH</option>
                        <option value="WAITING_VALIDATION">WAITING_VALIDATION</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4"></div>
                  <div class="col-4">
                    <div class="form-group text-center">
                      <a routerLink="/profileset" class="btn btn-primary btn-block" style="margin: 0px 5px;">Cancel</a>
                      <button type="submit" class="btn btn-primary">Generate
                        Sql</button>
                    </div>
                  </div>
                  <div class="col-4"></div>
                </div>
                <div class="row  text-center" *ngIf="fileName">
                  <div class="col"><br>
                    <button class="btn btn-primary btn-block" type="button" routerLink="/profileset"(click)="downloadFile()">Download -
                      {{fileName}}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
